@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to my page! While my students were working on their final projects, I needed something to pass the time. While thinking of ideas, I was talking to a friend and she mentioned that she wanted a pet but didn't even know where to start to find one. I then came up with this idea. The goal is to give the user an easy way to find all of the shelters and pets within their area without the hassle of scrolling through pages that might not even help.</p>
<a href="https://github.com/JustinJonesGC">
    <img height="100" width="100" src="https://pbs.twimg.com/profile_images/1017516299143041024/fLFdcGsl_400x400.jpg" alt="Github Link" />
</a>
<a href="https://www.linkedin.com/in/justin-jones-bb729416b/">
    <img height="100" width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="Github Link" />
</a>
