
@{
    ViewBag.Title = "PetView";
}

<h2>PetView</h2>

<table>
    <tr>
        <th>Name</th>
    </tr>
    
        <tr>
            <td>@ViewBag.pet </td>
        </tr>
    <tr>
        <td>
            <img src="@ViewBag.Image" />
        </td>
    </tr>
    
</table>