
@{
    ViewBag.Title = "FindShelter";
}

<h2>FindShelter</h2>
<p>Enter your zipcode to look for a nearby shelter.</p>

<form method="POST">
    <input type="number" id="zipcode" name="zipcode" required/>
    <input type="submit">
</form>

